# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Local env files
.env
.env.*.local

# Node modules & lockfiles
node_modules/
npm-debug.log*
yarn-error.log*
yarn.lock
package-lock.json
bun.lockb

# Expo
.expo/
.expo-shared/
expo-env.d.ts

# Build outputs
dist/
web-build/
coverage/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Android
android/
*.apk
*.hprof
*/android/app/build/

# iOS / Xcode
ios/
*.xcworkspace
*.xcuserstate
*.xcodeproj/project.pbxproj
*.xcodeproj/xcuserdata/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# typescript
*.tsbuildinfo

# Logs
*.log
logs/
